# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.settings/
.classpath
.project
bin/

# VS Code
.vscode/

# Docker
docker-compose.override.yml

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# App specific
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.dart_tool/
app/build/
app/.packages
